
#GITHUB_USERNAME=your_github_username
#GITHUB_TOKEN=ghp_your_github_personal_access_token_here

#LEETCODE_USERNAME=your_leetcode_username

# SPOTIFY_CLIENT_ID=your_spotify_client_id
# SPOTIFY_CLIENT_SECRET=your_spotify_client_secret
